body{
    background-color:#24353f !important;
  
}
div{
    color: #24353f !important;
}
.underline a{
    text-decoration: none;
    color: #24353f;
}
.underline a:hover{
 text-decoration: underline;   
}
